<%= form_with(model: student, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :slack_dm, class: 'form-label' %>
    <%= form.text_field :slack_dm, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :github_profile, class: 'form-label' %>
    <%= form.text_field :github_profile, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :replit_profile, class: 'form-label' %>
    <%= form.text_field :replit_profile, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :class_name, class: 'form-label' %>
    <%= form.text_field :class_name, class: 'form-control' %>
  </div>

  <div class="form-check mb-3">
    <%= form.check_box :active, class: 'form-check-input' %>
    <%= form.label :active, class: 'form-check-label' %>
  </div>

  <div class="mb-3">
    <%= form.label :assignment_ids, "Assignments", class: 'form-label' %>
    <%= form.collection_select(:assignment_ids, Assignment.all, :id, :name, { prompt: "Select Assignments" }, { multiple: true, class: 'form-control' }) %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
