<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Slack link:</strong>
    <%= student.slack_link %>
  </p>

  <p>
    <strong>Github link:</strong>
    <%= student.github_link %>
  </p>

  <p>
    <strong>Replit link:</strong>
    <%= student.replit_link %>
  </p>

  <p>
    <strong>Class name:</strong>
    <%= student.class_name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= student.active %>
  </p>

</div>
