<h1><%= @student.name %></h1>

<p>
  <strong>Slack DM - Channel ID:</strong>
  <%= link_to "DM on Slack", "https://codethedream.slack.com/app_redirect?channel=#{@student.slack_link}", target: "_blank" %>
</p>

<p>
  <strong>Slack DM - Channel ID:</strong>
  <%= link_to "DM on Slack", "https://codethedream.slack.com/app_redirect?channel=#{@student.slack_link}", target: "_blank" %>
</p>

<p>
  <strong>GitHub:</strong>
  <%= link_to "View Repositories", "https://github.com/#{@student.github_profile}?tab=repositories", target: "_blank" %>
</p>

<p>
  <strong>Replit:</strong>
  <%= link_to "View Replit Profile", "https://replit.com/@#{@student.replit_profile}", target: "_blank" %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @student.cohort %>
</p>

<p>
  <strong>Active:</strong>
  <%= @student.active? ? "Yes" : "No" %>
</p>

<h2>Assignments</h2>
<ul>
  <% @student.assignments.each do |assignment| %>
    <li><%= link_to assignment.name, assignment_path(assignment) %> (Due: <%= assignment.due_date %>)</li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_student_path(@student), class: "btn btn-warning" %>
<%= link_to 'Back', students_path, class: "btn btn-secondary" %>
